.main {
  &__presentation {
    &__title {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 1rem 0;
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;

      &__image-container {
        min-width: 10%;
        max-width: 28%;
        padding-right: 2.5rem;

        &__img {
          width: 100%;
          border-radius: 30%;
        }
      }

      &__container {
        display: flex;
        max-width: 40%;

        &__description {
          font-size: 0.8rem;
          text-align: center;
          line-height: 1.2rem;
        }
      }
    }
  }
}
