.field {
  position: relative;
  margin: 0.7rem 0;
  padding: 0 0.2rem;

  &__input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #bebebe;
    padding: 0.75rem 1rem;
    letter-spacing: 0.5px;

    &:focus {
      outline: 1px solid #e05a83;
    }

    &:focus + label,
    &:not([value=""]) + label {
      top: -5px;
      font-size: 11px;
      transform: translateY(0);
      left: 5px;
      padding-inline: 8px;
      opacity: 1;
      background-color: #fff;
      border-radius: 8px;
    }

    &--error {
      border: 1px solid red;
    }
  }

  &__input[type="radio"] + label,
  &__input[type="radio"] {
    font-size: 16px;
    outline: none;
    accent-color: #e05a83;
    top: 0%;

    &:checked + label,
    &:checked:after {
      outline: none;
      font-size: 1rem;
      color: #e05a83;
    }
  }

  &__label {
    position: absolute;
    font-size: 13px;
    pointer-events: none;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    left: 1rem;
  }
}
