.mobile-nav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    z-index: 3;
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    width: 150px;

    @include breakpoint(xlarge) {
      width: 90px;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23%;
  }

  &__nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: white;

    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      &__item {
        padding: 2rem 0;
      }
    }
  }
}
