// Utiliser les mixins pour les classes répétitives et avec paramètres

// Media breakpoints
$breakpoint-up: (
  //700px
  "medium": 43.75em,
  // 900px
  "large": 56.25em,
  // 1440px
  "xlarge": 90em
) !default;

@mixin breakpoint($size) {
  @media (max-width: map-get($breakpoint-up, $size)) {
    @content;
  }
}

// Absolute element
@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0, $x, $y) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: translate($x, $y);
}
