.footer {
  margin: 0 -3rem;
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px dashed rgba(235, 138, 183, 0.322);

  ul > li {
    padding-bottom: 0.5rem;
  }

  &__web-policy {
    font-size: 1rem;
  }

  &__social-network {
    font-size: 1rem;
  }
}
