.footer {
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #805050;

  a {
    color: white;
  }

  ul > li {
    padding-bottom: 0.5rem;
  }

  &__web-policy {
    font-size: 1rem;
  }

  &__social-network {
    font-size: 1rem;
  }
}
