.footer {
  position: relative;
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #faf9fe;

  a {
    color: rgb(0, 0, 0);
  }

  ul > li {
    padding-bottom: 0.5rem;
  }

  &__web-policy {
    font-size: 1rem;
  }

  &__social-network {
    font-size: 1rem;
  }
}
