.header {
  margin: 0 -3rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.075);

  &__social-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.6rem;
    padding-top: 0.6rem;

    &__facebook {
      width: 1.5%;

      img {
        width: 100%;
      }
    }

    &__instagram {
      width: 1.5%;
      margin-left: 1rem;

      img {
        width: 100%;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      bottom: -2.1rem;
      padding-right: 6rem;

      &__title {
        font-family: "Waterfall", cursive;
        font-size: 5.5rem;
        padding-bottom: 1.2rem;
      }

      &__subtitle {
        font-size: 0.8rem;
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      position: relative;
      height: 7rem;
      padding-top: 2.5rem;
      &__menu {
        display: flex;

        /** Connection **/
        &__item {
          padding: 0 2rem;

          &__connection {
            border: none;
            background-color: white;
            font-size: 1rem;
            cursor: pointer;
          }

          &__register {
            font-size: 1rem;
          }
        }
      }

      /** Connected **/

      &__connected-menu {
        width: 70%;

        &__item {
          display: flex;

          &__profil-link {
            display: flex;
            &__img-container {
              position: relative;
              top: 0.2rem;
              margin-left: 0.5rem;
              width: 8%;
              &__img {
                width: 100%;
              }
            }
          }
        }

        &__list {
          display: none;
        }

        &:hover & {
          display: flex;
          flex-direction: column;
          position: relative;

          &__list {
            display: flex;
            flex-direction: column;
            padding-top: 0.7rem;
            position: absolute;
            top: 3.2rem;

            &__link-container {
              padding-top: 0.7rem;

              &__link:hover {
                cursor: pointer;
                text-decoration: underline;
                text-decoration-color: rgb(231, 165, 176);
                text-decoration-thickness: 0.15rem;
              }
            }
          }
        }
      }

      &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 5rem;
        width: 30%;
        z-index: 3;

        &__item {
          &__img-container {
            display: flex;
            justify-content: center;
            width: 80px;

            &__cart-counter {
              padding-left: 0.1rem;
              font-size: 0.8rem;
            }
            &__img {
              width: 30%;

              &:hover {
                cursor: pointer;
              }
            }
          }

          &__cart-container {
            display: none;
          }
        }

        &:hover & {
          position: relative;

          &__item {
            &__cart-container {
              display: flex;
              flex-direction: column;
              position: absolute;
              width: 400px;
              top: 5rem;
              right: -1rem;
              border: 1px solid black;
              background-color: white;

              &__title {
                width: 100%;
                &__link {
                  display: flex;
                  justify-content: center;
                  width: 100%;
                  padding: 1.2rem 0;
                  font-family: sans-serif;
                  border-bottom: 1px solid rgba(128, 128, 128, 0.13);
                }
              }

              &__articles-container {
                padding: 0rem 1rem;
                &__product {
                  display: flex;
                  padding-bottom: 1rem;
                  margin: 1rem 0;
                  border-bottom: 1px solid rgba(128, 128, 128, 0.13);

                  &__info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 75%;
                    margin: 0.4rem 0rem;
                    padding-left: 1rem;
                    font-size: 0.8rem;
                    &__infos {
                      display: flex;
                      width: 100%;
                      justify-content: space-between;
                      text-transform: uppercase;

                      &__price {
                        font-weight: 600;
                      }
                    }

                    &__quantity-container {
                      font-size: 0.8rem;

                      &__quantity {
                        font-weight: 600;
                      }
                    }
                  }
                  &__img-container {
                    width: 25%;

                    &__img {
                      object-fit: cover;
                      height: 70px;
                      width: 100%;
                    }
                  }
                }
              }

              &__footer {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 1rem;

                &__button-container {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 3rem;
                  background-color: rgb(247, 114, 136);
                  color: white;

                  &__button {
                    font-size: 0.95rem;
                    color: white;
                  }

                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
