.detail {
  margin: 0 -2rem;
  padding: 1rem 0;
  display: flex;

  &__pictures-container {
    display: flex;
    flex-direction: column;
    width: 55%;

    &__image-container {
      padding-bottom: 0.3rem;
      &__image {
        object-fit: cover;
        height: 500px;
        width: 100%;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 1.5rem;

    &__info {
      height: 70vh;
      position: sticky;
      top: 7rem;

      &__header {
        &__title {
          font-size: 1.8rem;
        }
      }

      &__description {
        padding-top: 3rem;
      }

      &__composition {
        padding-top: 3rem;

        &__list {
          &__item {
            padding-bottom: 1rem;

            &__categorie {
              font-weight: 600;
            }
          }
        }
      }
      &__add-container {
        display: flex;
        justify-content: center;

        &__button {
          width: 60%;
          padding: 1.2rem 0rem;
          margin-top: 3.5rem;
          background-color: black;
          color: white;
          transition: 0.7s;

          &:hover {
            cursor: pointer;
            background-color: rgba(216, 135, 196, 0.685);
          }
        }
      }
    }
  }
}
