.shop {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &__loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;

    &__loader {
      width: 11%;
    }
  }

  &__category-container {
    position: sticky;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    height: 80vh;
    width: 10%;
    padding-top: 5rem;

    &__title {
      font-weight: 600;
      padding-bottom: 0.5rem;
    }

    &__list {
      &__link-container {
        padding: 0.3rem 0 0.3rem 0.3rem;
        &__link {
          font-weight: 300;
          line-height: 29px;
          font-family: "Avenir LT Pro", Arial, Helvetica, sans-serif;
          color: white;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__articles-container {
    padding-top: 5rem;
    width: 90%;

    &__title-container {
      position: relative;
      margin-bottom: 4rem;
    }

    &__main-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      &__product {
        width: 429.5px;
        padding: 0 1.5rem 2.5rem 1.5rem;

        &__img-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 300px;
          border: 1px solid rgba(128, 128, 128, 0.123);

          &__img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            transition-duration: 0.7s;
          }
        }

        &__infos-container {
          padding: 1.2rem 2rem;
          border-left: 1px solid rgba(128, 128, 128, 0.123);
          border-right: 1px solid rgba(128, 128, 128, 0.123);
          border-bottom: 1px solid rgba(128, 128, 128, 0.123);
          min-height: 30px;
          &__infos {
            padding-bottom: 2rem;
            &__title {
              font-size: 1.2rem;
              color: rgb(201, 121, 181);
              padding-bottom: 0.6rem;
            }

            &__description {
              font-size: 0.8rem;
            }
          }

          &__price {
            text-align: right;
          }
        }

        &:hover & {
          &__img-container {
            &__img {
              height: 270px;
              width: 94%;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
