.connexion {
  font-family: "Inter", sans-serif;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.349);

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__container {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
      height: 25rem;
      width: 30rem;
      background-color: rgb(255, 199, 209);
      border-radius: 7%;

      &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__close {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          right: -15rem;
          top: -3rem;
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          background-color: black;
          color: white;
          font-size: 1.5rem;
          cursor: pointer;
        }
        &__title {
          padding-bottom: 2rem;
          font-size: 1.3rem;
        }

        &__label {
          width: 100%;
          padding: 0.5rem 0;
        }

        &__input {
          width: 100%;
          border: none;
          padding: 0.3rem;
        }

        &__submit {
          margin-top: 2rem;
          padding: 0.4rem;
          background-color: rgb(88, 115, 206);
          border: none;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
