.connexion {
  font-family: "Inter", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.349);
  z-index: 999;

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__container {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 1.5rem 0;
      width: 30%;
      background-color: white;
      box-shadow: rgb(0 0 0 / 25%) 0px 3px 4px;
      border-radius: 5px;

      &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;

        &__close {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          right: -49%;
          top: -4%;
          color: rgb(165, 73, 73);
          font-size: 1.3rem;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            color: #d6b179;
          }
        }
        &__title {
          padding-bottom: 1.5rem;
          font-size: 2rem;
          letter-spacing: 0.1rem;
        }

        &__error {
          color: red;
          font-size: 1rem;
          padding-bottom: 1.5rem;
        }

        &__inputs-container {
          width: 48%;
        }
        &__submit {
          width: 30%;
          padding: 0.7rem;
          background-color: rgb(247, 114, 136);
          border: none;
          color: white;
          cursor: pointer;
          border-radius: 5px;
          margin-bottom: 1.5rem;

          &:hover {
            background-color: #fae0b8;
          }
        }
      }
    }
  }
}
