@import "./styles/reset.scss";

@font-face {
  font-family: "Afrah-Regular";
  src: url(./assets/fonts/Afrah-Regular.woff) format("woff");
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 1rem;
  background-color: #ffe1e1;
}
