.register {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 2rem;
    padding: 2rem 0;
  }

  &__container {
    &__form {
      display: flex;
      flex-direction: column;
      width: 350px;
      margin: 0 auto;
      padding: 1rem;

      &__legend {
        width: 350px;
        padding-bottom: 1.3rem;
      }

      &__radio-container {
        display: flex;
        width: 350px;
        margin-bottom: 1.8rem;
        padding: 0 1rem;
      }

      &__birth-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1.8rem;

        &__input-container {
          display: flex;
        }

        &__legend {
          display: flex;
          align-items: center;

          &__example {
            padding-left: 0.3rem;
            font-size: 0.75rem;
            font-style: italic;
            font-weight: 600;
          }
        }
      }

      &__submit {
        width: 100%;
        padding: 1rem 0rem;
        background-color: #d0b2a9;
        color: white;
        border-radius: 15px;
        transition: 0.4s;

        &:hover {
          cursor: pointer;
          background-color: #ead8c5;
        }

        &--disabled {
          background-color: grey;
        }
      }
    }
  }
}
