.register {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 2rem;
    padding: 2rem 0;
  }

  &__container {
    width: 30%;

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      &__submit {
        border: none;
        background-color: #44c260;
        color: white;
        padding: 1rem 2rem;
        margin-top: 1.2rem;
        cursor: pointer;

        &--disabled {
          background-color: grey;
        }
      }
    }
  }
}
